In [1]:
import pandas as pd

# Simple Linear Regression

In [2]:
from LinearRegression import SimpleLinearRegression

In [3]:
data = pd.read_csv("data/Salary_dataset_simpleLr.csv", index_col=0)

In [8]:
data.head()

   YearsExperience   Salary
0              1.2  39344.0
1              1.4  46206.0
2              1.6  37732.0
3              2.1  43526.0
4              2.3  39892.0

In [9]:
X = data.YearsExperience.to_list()
y = data.Salary.to_list()

In [25]:
model = SimpleLinearRegression(iterations=1000000, learning_rate=0.001)
model.fit(X, y)

In [26]:
predictions = model.predict(X)

In [27]:
model.eval(predictions, y)

Model evaluation:
####################
MSE: 31270951.7223
MAE: 4644.2013
R^2: 0.9570